/*0001*/
body {
    background: rgba(204,238,245,1);
    background: -moz-linear-gradient(top, rgba(204,238,245,1) 0%, rgba(164,222,234,1) 45%, rgba(149,216,230,1) 62%, rgba(121,205,222,1) 94%, rgba(116,203,220,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,238,245,1)), color-stop(45%, rgba(164,222,234,1)), color-stop(62%, rgba(149,216,230,1)), color-stop(94%, rgba(121,205,222,1)), color-stop(100%, rgba(116,203,220,1)));
    background: -webkit-linear-gradient(top, rgba(204,238,245,1) 0%, rgba(164,222,234,1) 45%, rgba(149,216,230,1) 62%, rgba(121,205,222,1) 94%, rgba(116,203,220,1) 100%);
    background: -o-linear-gradient(top, rgba(204,238,245,1) 0%, rgba(164,222,234,1) 45%, rgba(149,216,230,1) 62%, rgba(121,205,222,1) 94%, rgba(116,203,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,238,245,1) 0%, rgba(164,222,234,1) 45%, rgba(149,216,230,1) 62%, rgba(121,205,222,1) 94%, rgba(116,203,220,1) 100%);
    background: linear-gradient(to bottom, rgba(204,238,245,1) 0%, rgba(164,222,234,1) 45%, rgba(149,216,230,1) 62%, rgba(121,205,222,1) 94%, rgba(116,203,220,1) 100%);
    font-family: 'Ultra', sans-serif; 
    margin-bottom: 25%;
    margin-left: 5%;
    margin-right: 5%;
}
/*0001*/
nav{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
/*0001*/
section{
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
}
/*0100*/
#dronescard{
    list-style-type: none;
}
/*0101*/
#dronescard li{
    background: white;
    border: 1px solid;
    border-radius: 25px;
    padding-left: 1%;
    margin-left: 1%;
    width: 27%;
    display: inline-block;
}
/*0001*/
h3,h2{
    text-align: center;
}
/*0001*/
img{
    margin:0px auto;
    display: block;
    width:60%;
}
/*0100*/
#cx20{
     width:36%;
}
/*0100*/
#ardrone{
     width:48%;
}
/*0001*/
#bebop2{
    width: 40%;
}
/*0001*/
footer {
    padding-top: 1%;
    padding-bottom: 0.1%;
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: rgba(255,255,255,0.6);
    font-size: 80%;
    width:100%;

}
/*0003*/
footer ul li {
    width: 30%
}
/*0002*/
footer div{
    display: inline-block;
}
/*0100*/
#infotrab{
    float:right;
    padding-right: 1%;
}
/*0100*/
#infopers{
    padding-left: 1%;
}
/*0100*/
#etiquetas{
    margin-left: 25%;
}
/*0100*/
#copyright{
    text-align: center;
}
/*0110*/
#volver:link,#volver:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
}

/*0001*/
div{
    text-align: center;
}
/*0100*/
#eleccion{
    background: white;
    border: 2px solid red;
    border-radius: 25px;
    margin-left:30%;
    margin-right: 30%;  
}
/*0100*/
#volver:hover, #volver:active {
    background-color: red;
}
