/*0001*/
body {
    background: rgba(211,238,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(211,238,234,1) 0%, rgba(176,223,216,1) 45%, rgba(163,217,209,1) 62%, rgba(138,206,196,1) 94%, rgba(133,204,194,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(211,238,234,1)), color-stop(45%, rgba(176,223,216,1)), color-stop(62%, rgba(163,217,209,1)), color-stop(94%, rgba(138,206,196,1)), color-stop(100%, rgba(133,204,194,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(211,238,234,1) 0%, rgba(176,223,216,1) 45%, rgba(163,217,209,1) 62%, rgba(138,206,196,1) 94%, rgba(133,204,194,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(211,238,234,1) 0%, rgba(176,223,216,1) 45%, rgba(163,217,209,1) 62%, rgba(138,206,196,1) 94%, rgba(133,204,194,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(211,238,234,1) 0%, rgba(176,223,216,1) 45%, rgba(163,217,209,1) 62%, rgba(138,206,196,1) 94%, rgba(133,204,194,1) 100%);
    background: radial-gradient(ellipse at center, rgba(211,238,234,1) 0%, rgba(176,223,216,1) 45%, rgba(163,217,209,1) 62%, rgba(138,206,196,1) 94%, rgba(133,204,194,1) 100%);
    font-family: 'Ultra', sans-serif; 
    margin-bottom: 15%;
    
}
/*0001*/
footer {
    padding-top: 1%;
    padding-bottom: 0.1%;
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: rgba(255,255,255,0.6);
    font-size: 80%;
    width:100%;

}
/*0001*/
h1{
    text-align: center;
}
/*0001*/
table{
    margin: 0 auto;
}
/*0001*/
th{
    padding-right: 5%;
    padding-bottom: 2%;
}
/*0001*/
video{
    width: 500px;
}
/*0100*/
#volver:link,#volver:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid;
    border-radius: 25px;
}
/*0001*/
div{
    text-align: center;
}
/*0100*/
#volver:hover, #volver:active {
    background-color: red;
}
/*0003*/
footer ul li {
    width: 30%
}
/*0002*/
footer div{
    display: inline-block;
}
/*0100*/
#infotrab{
    float:right;
    padding-right: 1%;
}
/*0100*/
#infopers{
    padding-left: 1%;
}
/*0100*/
#copyright{
    text-align: center;
}
/*0100*/
#etiquetas{
    margin-left: 25%;
}
